<div ng-if="myInfoCtrl.firstname" class="my-info-div">
    <div>First name: {{myInfoCtrl.firstname}}</div>
    <div>Last name: {{myInfoCtrl.lastname}}</div>
    <div>Email: {{myInfoCtrl.email}}</div>
    <div ng-if="myInfoCtrl.phone">Phone: {{myInfoCtrl.phone}}</div>
    <div>
        <img src="{{myInfoCtrl.imageLink}}"/>
        <div><i>Enjoy {{myInfoCtrl.favoriteTitle}}:<br/>
            {{myInfoCtrl.favoriteDescription}}</i></div>
    </div>
</div>
<div ng-if="! myInfoCtrl.firstname">
    Not Signed Up Yet. <a href="#/signup">Sign up Now!</a>
</div>