<div>
    <form novalidate name="nlsignup">
        <div class="signup-form-content">
            <div>
                <span>First Name: </span>
            </div>
            <div>
                <input type="text"
                       name="firstname"
                       ng-model="newsLetter.firstname"
                       class="signup-input"
                       ng-pattern="/^[a-zA-Z\s]*$/"
                       required
                       ng-change="newsLetter.dirty()"
                ><span ng-if="nlsignup.firstname.$error.required && nlsignup.firstname.$touched">First name required!</span>
                 <span ng-if="nlsignup.firstname.$error.pattern && nlsignup.firstname.$touched">First name must be alphabetic!</span>
            </div>
            <div>
                <span>Last Name: </span>
            </div>
            <div>
                <input type="text"
                       name="lastname"
                       ng-model="newsLetter.lastname"
                       class="signup-input"
                       ng-pattern="/^[a-zA-Z\s]*$/"
                       required
                       ng-change="newsLetter.dirty()"
                ><span ng-if="nlsignup.lastname.$error.required && nlsignup.lastname.$touched">Last name required!</span>
                 <span ng-if="nlsignup.lastname.$error.pattern && nlsignup.lastname.$touched">Last name must be alphabetic!</span>
            </div>
            <div>
                <span>Favorite Dish: </span>
            </div>
            <div>
                <input type="text"
                       name="favorite"
                       class="signup-input"
                       ng-model="newsLetter.favorite"
                       ng-change="newsLetter.dirty()"
                       ng-blur="newsLetter.checkFavorite()"
                       ng-focus="newsLetter.clearFavoriteError()"
                ><span ng-if="newsLetter.noSuchFavorite">No such menu number exists</span>
            </div>
            <div>
                <span>Email: </span>
            </div>
            <div>
                <input type="email"
                       name="email"
                       class="signup-input"
                       ng-model="newsLetter.email"
                       required
                       ng-change="newsLetter.dirty()"
                ><span ng-if="nlsignup.email.$error.required && nlsignup.email.$touched">Email address required!</span>
                <span ng-if="nlsignup.email.$error.email && nlsignup.email.$touched">Email address invalid format!</span>
            </div>
            <div>
                <span>Phone: </span>
            </div>
            <div>
                <input type="text"
                       name="phone"
                       class="signup-input"
                       ng-pattern="/[1-9][0-9][0-9]-?[0-9][0-9][0-9]-?[0-9][0-9][0-9][0-9]/"
                       ng-model="newsLetter.phone"
                       ng-change="newsLetter.dirty()"
                ><span ng-if="nlsignup.phone.$error.pattern && nlsignup.phone.$touched">Invalid phone number.  Use ###-###-#### or 7 digits.</span>
            </div>
            <button
                    ng-disabled="nlsignup.$invalid"
                    ng-click="newsLetter.submit()"
                    class="signup-button">
                Sign Up
            </button>
        </div>
    </form>
    <div ng-if="newsLetter.isSubmitted">Your information has been saved</div>
</div>